body{
    margin: 0.1rem;
    padding: 0;
    background-color: lightslategray;
    width: 500px;
}
.discription{
    font-size: 1rem;
    color: cyan;
    text-align: center;
    margin: 20px 0;
}

.title{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    font-size: 1rem;
    margin: 10px;
}
.title_top{
    color: cyan;
    text-align: center;
}
#click_it{
    background-color: #4CAF50;
    color: azure;
    border: none;
    border-radius: 5px;
    padding: 5px;
}
#click_it:hover{
    background-color:chartreuse;
    cursor: pointer;
}
#input_arr{
    width: 80%;
    margin: 5px;
}
.title_content{
    display: flex;
    width: 70%;
    justify-content: space-between;
    font-weight: 500;
    padding: 5px;
}


.hidden{
    display: none;
}